*{
    margin:0;
    padding:0;
}
.mypic{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mypic img{
    width:50%;
    border: 2px solid white;
    border-radius: 50px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    width: 70%;
    /*background-color: gray;*/
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 30px 30px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav-list li a:hover{
    color: gray;
    transition: .4s;
}
.rightnav{
    width: 30%;
    display: flex;
    /*background-color: gray;*/
    text-align: center;
    padding: 0 23px;
}
#search{
    padding: 5px 10px;
    font-size: 25px;
    border: 2px solid gray;
    border-radius: 9px;
    vertical-align: middle;
}
.background{
    background: rgba(0,0,0,0.5) url('../bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.box-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 80%;
    height: 90%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.firstsection{
    height: 100vh;
}
.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.secondhalf{
    width: 30%;
}
.secondhalf img{
    width: 80%;
    border: 5px solid white;
    border-radius: 380px;
    display: block;
    margin: auto;
}
.bigtext1{
    font-size: 60px;
    text-align:justify;
    height: 12vh;
}
.bigtext2{
    font-size: 40px;
    text-align: justify;
    height: 8vh;
}
.text{
    font-size: 20px;
}
.secondsection{
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: darkgray;
}
.part1{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.part2{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.thirdsection{
    background-color: darkgray;
}
.innersection{
    color: white;
    width: 90%;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: auto;
    height: 40vh;
    background-color: darkgray;
}
.point1{
    font-size: 23px;
    margin: auto;
    line-height: 170%;
    border-style:solid;
    border-color: gray;
    padding: 2px 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.point2{
    font-size: 23px;
    justify-content: center;
    margin: auto;
    line-height: 170%;
    border-style: solid;
    border-color: gray;
    padding: 2px 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.point3{
    font-size: 23px;
    margin: auto;
    line-height: 170%;
    border-style: solid;
    border-color: gray;
    padding: 2px 15px;
    font-family:cursive;
}
.btn {
    padding: 6px 17px;
    margin: 6px 3px;
    vertical-align: middle;
    border: 3px solid white;
    border-radius: 8px;
    font-size: 16px;
    background: none;
    color: white;
    cursor: pointer;
}
.btn:hover{
    transition: .4s;
    color: darkgray;
    border: 3px solid darkgray;
}
.fourthsection{
    background-color: darkgray;
    height: 90vh;
}
.hobby{
    color: red;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 20vh;
}
.innersection1{
    background-color: gray;
    border-style:ridge;
    border-color: white;
    padding: 40px 0px;
    width: 40%;
    margin: auto;
}

.parts{
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-left: 26%;
    justify-content: center;
}
.hobbies{
    font-size: 42px;
    color: white;
    font-family: cursive;
    height: 10vh;
    width: 49%;
    
}
.hobbyimgs img{
    width: 80%;
    border: 2px solid white;
    height: 7vh;
    border-radius: 200px;
    display: block;
}
.e img{
    width: 77%;
}

.fifthsection{
    background-color: darkgray;
    height: 100vh;
}
.skills{
    color: red;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 20vh;
}
.innersection2{
    background-color: gray;
    width: 40%;
    border-style:ridge;
    border-color: white;
    margin: auto;
}

.parts1{
    display: flex;
    flex-direction: row;
    width: 120%;
    margin-left: 5%;
    justify-content: center;
}
.myskills{
    font-size: 42px;
    line-height: 170%;
    color: white;
    font-family: cursive;
    justify-content: center;
    width: 49%;
    
}
.stars{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 44px;
    line-height: 170%;
    color: gold;

}
.text-footer{
    text-align: center;
    padding: 10px 10px;
    background-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
}
.media{
    background-color: darkgray;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 20px;
    height: 30vh;
}
.media li{
    list-style: none;
    display: inline-block;
    padding: 20px 20px;
    color: #fff;
    border: 1px solid#fff;
    border-radius: 50%;
    transition: .5s;
}
.media li:hover{
    color: #292929;
    transition: .5s;
    border: 1px solid #292929; 
}



@media only screen and (max-width: 1500px){
    .innersection1{
        width: 70%;
    }
    .point1{
        font-size: 20px;
        padding: 13px 9px;
        height: 10vh;
    }
    .point2{
        font-size: 20px;
        padding: 13px 9px;
        height: 10vh;
    }
    .point3{
        font-size: 20px;
        padding: 13px 9px;
        height: 10vh;
    }
    .hobbyimgs img{
        height: 6.5vh;
    }
    .hobbies{
        height: 6vh;
    }
    .innersection2{
        width: 70%;
    }
}
@media only screen and (max-width: 1300px){
    .point1{
        font-size: 10px;
        padding: 13px 9px;
        height: 7vh;
    }
    .point2{
        font-size: 11px;
        padding: 13px 9px;
        height: 7vh;
    }
    .point3{
        font-size: 11px;
        padding: 13px 9px;
        height: 7vh;
    }
}

@media only screen and (max-width: 900px){
    .nav-list{
        flex-direction: column;
        line-height: 40%;
        height: 20vh;
    }
    .navbar{
        flex-direction: column;
        position:static;
    }
    .rightnav{
        margin: auto;
        text-align: center;
        flex-direction: column;
    }
    #search{
        padding: 5px 10px;
        width: 70%;
        font-size: 20px;
        border: 2px solid gray;
        border-radius: 9px;
        vertical-align: middle;
    }
    .btn{
        width: 70%;
        font-size: 10px;
    }
    .h-nav{
        height: 60vh;
    }
    .box-main{
        height: 85vh;
    }
    .secondhalf{
        height: 30vh;
    }
    .secondhalf img{
        width: 120%;    
    }
    .firsthalf{
        line-height: 110%;
    }
    .bigtext1{
        line-height: 90%;
        font-size: 200%;
    }
    .bigtext2{
        line-height: 90%;
        font-size: 150%;
    }
    .text{
        line-height: 100%;
        font-size: 90%;
    }
    .secondsection{
        height: 30vh;
    }
    .part1{
        line-height: 90%;
        font-size: 200%; 
    }
    .part2{
        line-height: 90%;
        font-size: 120%; 
    }
    .innersection{
        height: 13vh;
        width: 87%;
    }
    .point1{
         font-size: 6px;
         line-height: 179%;
         height: 4vh;
    }
    .point2{
         font-size: 6px;
         line-height: 180%;
         height: 4vh;
    }
    .point3{
         font-size: 6px;
         line-height: 180%;
         height: 4vh;
    }
    .fourthsection{
        background-color: darkgray;
        height: 80vh;
    }
    .hobby{
        font-size: 40px;
    }
    .innersection1{
        width: 90%;
    }
    .hobbies{
        font-size: 24.3px;
        height: 4vh;
        width: 25%; 
    }
    .hobbyimgs img{
        height: 4vh;
        width: 55%;
    }
    .e img{
        width: 53%;
    }
    .fifthsection{
        height: 90vh;
    }
    .skills{
        font-size: 40px;
    }
    .innersection2{
        width: 90%;
    }
    .myskills{
        font-size: 24px;
        width: 50%;        
    }
    .stars{
        font-size: 24px;
        display:flex;
        flex-direction: column;
    
    }
}
@media only screen and (max-width:490px){
    .h-nav{
        height: 50vh;
    }
    .box-main{
        height: 70vh;
    }
    .bigtext1{
        line-height: 140%;
        font-size: 130%;
    }
    .bigtext2{
        line-height: 40%;
        font-size: 110%;
    }
    .firsthalf{
        line-height: 100%;
    }
    .point1{
        font-size: 3px;
        height: 2vh;
    }
    .point2{
        font-size: 3px;
        height: 2vh;
    }
    .point3{
        font-size: 3px;
        height: 2vh;
    }
    .innersection{
       width: 85%;
       height: 15vh;
    }
    .hobbies{
       font-size: 24px;
       height: 3.9vh;
    }
    .hobbyimgs img{
        height: 3.4vh;
    }
    .myskills{
        font-size: 20px;   
    }
    .stars{
        font-size: 20px;    
    }
}
